
STL/Assembly_Planktoscope_Uc2version_V1_00_NEMA_17_7.stl
STL/Assembly_Planktoscope_Uc2version_V1_00_CCTV_Lens_Hikvision_50mm_2.8_1.stl
STL/Assembly_Planktoscope_Uc2version_V1_00_ElectroWallbox_Tpelectric_130x220x140_IP67_Inlet_14.stl
STL/Assembly_Planktoscope_Uc2version_V1_00_gt2_pulley_53tooth_11.stl
STL/Assembly_Planktoscope_Uc2version_V1_00_HIKCamera_MV-CE060-10UMUC_3.stl
STL/Assembly_Planktoscope_Uc2version_V1_00_Microscope_Slide_6.stl
STL/Assembly_Planktoscope_Uc2version_V1_00_NEMA11_4.stl
STL/Assembly_Planktoscope_Uc2version_V1_00_NEMA17_Perestalticpump_Adapter_8.stl
STL/Assembly_Planktoscope_Uc2version_V1_00_Nema17_PULLEY_5.stl
STL/Assembly_Planktoscope_Uc2version_V1_00_UC2_ESP32-cnc_v3_13.stl
